div.home-inner-body{
	padding:0 0;
	margin:0 auto;
}
div.one-third {
	float: left;
	margin-right:.5%;
	border-right:1px solid white; 
	border-left:1px solid white; 
}
div.left{
	width:17%;
}
div.center{
	width:64%;
}
div.right{
	width:17%;	
	margin: 0;
	float:right;
}
img{
	max-width: 100%;
	height: auto;
	margin: 0 0 0 0;
}
div.header{
margin-right:5%;
}




div.header-images{
	float:left;
}
div.header-logo{
	max-width: 10.2%;
	height:auto;
	float:left;
	margin-left: 10%
	
}
div.header{
	float:left;
	width:100%;
	border:2px solid yellow;
	
}
div.header-title{
	float:left;
	margin-left:.5%;
}
div.nav{	
	font-size:100%;
}
div.nav ul{
	margin:0;
	padding:0;
}
div.nav ul li{
	float:left;
	list-style:none;
}
div.nav ul li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	background-color:#00FFFF;
	color: #000000;
	border-right: 1px solid #bababa;
}
div.dropdown-content {
	display:none;
 	position: absolute;
   	background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
div.dropdown-content a {
	 color: black;
   	 padding: 12px 16px;
     text-decoration: none;
   	 display: block;
}
li a:hover, .dropdown:hover {
   	 background-color: red;
}
li.dropdown {
   	 display: block;
   	 width: auto;
}
.dropdown:hover .dropdown-content {
     display: block;
}
.dropdown-content a:hover {
	  background-color: #f1f1f1
}




div.footer{
	width: 100% ; 
	float: left ;
	border:2px solid yellow;
}
div.fb{
 
	float: left ;
	max-width: 5% ;
	height: auto ; 
	margin-left: 30% ; 
}
div.linkedin{
	float: left ;
	height: auto ; 
	max-width: 5% ;
	margin-left: 12.5% ; 
}
div.contact{
	float: right;
	height: auto ; 
	max-width: 5% ;
	margin-right: 30% ; 
	margin-top: .5% ; 
 }
.img-radius{
	border-radius: 50% ; 
}


.pic{
  width:350px;
  height:300px;
  border:2px solid lightgray;
  padding:50px;
}
#section_1{
  margin:200px 90px 0px 90px;
  background-color:#00aafa;
  padding:20px;
  font-size:20px;
}
#port
{
  text-align:center;
  border:0px 0px 3px 0px; 
}
#section_2{
  margin:5px 90px 5px 90px;
  background-color:#00aaaa;
  padding:20px;
  font-size:20px;}
#section_3{
    margin:5px 90px 5px 90px;
  background-color:#99ffaa;
  padding:20px;
  font-size:20px;
}
#section_4{
    margin:0px 90px 0px 90px;
  background-color:#00ffaa;
  padding:20px;
  font-size:20px;
}
#copyrightfooter{
  color:white;
  background:gray;

  margin:0px 90px 0px 90px;
  padding:20px;
  font-size:20px;}
.top-bar{
   position: fixed; 
    width: 100%; 
opacity:0.8;}




